#about{
    width: 100vw;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    /* flex-wrap: wrap; */
}
#about  h2{
    color: #FFECD1;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem ;
    margin-bottom: 1.5rem;
    
}
#about p{
     width: 70%;
     background-color:rgb(255, 236, 209,0.4);
     color: black;
     
}
#about p span{
    color: black;
    font-size: large;
}

@media screen and ( min-width:391px) and ( max-width: 626px) {
    #about p{
        width: 90%;
        background-color:rgb(255, 236, 209,0.4);
        color: black;
        
   }
}
@media screen and ( max-width: 391px) {
    #about p{
        width: 80%;
        background-color:rgb(255, 236, 209,0.4);
        color: black;
        
   }
}